
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Heroic Features - Start Bootstrap Template</title>

<!-- Bootstrap Core CSS -->
<link href="../public/styles/bootstrap.min.css" type="text/css">

<!-- Custom CSS -->
<link href="../public/styles/heroic-features.css" type="text/css">

<!-- HERE IS THE OLD STUFF -->
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link rel="stylesheet" href="/styles/section.css" type="text/css" />
<link rel="stylesheet" href="../public/styles/bootstrap.min.css" type="text/html">
<!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
<link rel="stylesheet" href="/vendor/jquery-ui.min.css">
</head>

<body>
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Toronto</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="collapse fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="
          
        ">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">New Poll</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Chill Poll</h1>
              <br>
              <br>
              <h2 class="intro-text">Make Collective Decisions While You Chill
                <br><br></h2>
                <a href="#download"><h3>==> Start a Poll now! <==</h3></a>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto" class="options">
            <h2 style="font-size: 80px">Chill Poll</h2>
            <br>
            <br>
            <div class="features row text-center">

        </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Initiate A New Poll</h2>
           <div class="container 2" id="createPoll">

        <!-- Jumbotron Header -->
        <header>
            <h1>Having a hard time deciding where to go on a Friday night with your cool friends?</h1>
            <p>So, everything you need to do is:</p>
            <p>
                <!-- <a class="btn btn-primary btn-large">I want to ask them!</a> -->
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <!-- <h3 id="realResults">New Poll</h3> -->
                <div class="row text-center">
            <form method="POST" id="newPoll"  class="form-group col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-size: 15px;">Enter your Poll topic</label>
                    <input type="text" class="form-control" id="pollTitle" aria-describedby="emailHelp" placeholder="Enter the Topic">
                    <label for="exampleInputEmail1" style="font-size: 15px;">Enter your email</label>
                    <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <br/>
                    <label for="inputOption" style="font-size: 15px;">Option 1</label>
                    <input type="option" id="input1" class="form-control" placeholder="What are your options ?">
                    <input type="submit" class="btn btn-default btn-lg askButton col-lg-8" style="font-size:30px" value="Create!">

                </div>
            
                <button id="addOption" class="btn btn-primary btn-large">+</button>
                <button id="removeOption" class="btn btn-danger btn-large">-</button>


                </form>
            <form class="form-group col-lg-6">
            <div>

            
                    <label for="exampleInputEmail1" style="font-size: 15px;">Shoot decision makers an email</label>
                    <input type="email" id="email1" class="form-control" placeholder="Enter your friend's email">
            <button id="addEmail" class="btn btn-primary btn-large">+</button>
            <button id="removeEmail" class="btn btn-danger btn-large">-</button>
                
            </div>
            </form>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
      
        </div>
          <!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1>Contact Us</h1>
            <p><br>Feel free to leave us a comment!</br>
            <br><p>mateusbraga@gmail.com</p>
            <p>pxqpxqpxq@hotmail.com</br></p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

   
    
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; CHILL POLL 2018</p>
                </div>
            </div>
        </footer>

    </div>


    </div>


    </div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->

    <script type="text/html" src="/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/votes.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/scripts/grayscale.min.js"></script>
    

    <!-- // <script type="text/javascript" src="../public/mailing.js"></script> -->


</body>

</html>